In [1]:
import pandas as pd
import numpy as np

In [2]:
df_2 = pd.read_csv('DotSlash_Scores_2.csv')

In [3]:
m_total = df_2['Score'].mean()
m_total

62.728662420382165

In [4]:
def fun(df, sub):
  return df['Score'].where(df['Course'] == sub).mean()

In [5]:
m_bc = fun(df_2, 'BC')
m_ipnp = fun(df_2, 'IPNP')
m_aiwr = fun(df_2, 'AIWR')
m_dfg = fun(df_2, 'DFG')
print(m_bc, m_aiwr, m_ipnp, m_dfg)

60.39869281045752 64.07479224376732 61.836363636363636 62.89622641509434

In [6]:
mpd_bc = m_bc - m_total
mpd_ipnp = m_ipnp - m_total
mpd_aiwr = m_aiwr - m_total
mpd_dfg = m_dfg - m_total

In [7]:
def fun_2(df, sub):
  a = df['Degree of difficulty of assignments'].where(df['Course'] == sub).mean()
  b = df['Structuring of the course'].where(df['Course'] == sub).mean()
  c = df['Course recommendation based on relevance'].where(df['Course'] == sub).mean()
  return (a + b + c) / 3

In [8]:
df_1 = pd.read_csv('DotSlash_Feedback.csv')
a = df_1['Degree of difficulty of assignments'].mean()
b = df_1['Structuring of the course'].mean()
c = df_1['Course recommendation based on relevance'].mean()
m_total = (a + b + c) / 3
m_bc = fun_2(df_1, 'BC')
m_ipnp = fun_2(df_1, 'IPNP')
m_aiwr = fun_2(df_1, 'AIWR')
m_dfg = fun_2(df_1, 'DFG')
print(m_total, m_bc, m_aiwr, m_ipnp, m_dfg)

5.661571125265393 5.625272331154684 5.623268698060941 5.721212121212122 5.751572327044026

In [9]:
mrd_bc = m_bc - m_total
mrd_ipnp = m_ipnp - m_total
mrd_aiwr = m_aiwr - m_total
mrd_dfg = m_dfg - m_total

In [10]:
def fun_3(df, sub, year):
  return df['Course'].where(df["Year"] == year).value_counts()[sub]

In [11]:
m_total19 = df_2['Year'].value_counts()[2019]
m_bc19 = fun_3(df_2, 'BC', 2019)
m_ipnp19 = fun_3(df_2, 'IPNP', 2019)
m_aiwr19 = fun_3(df_2, 'AIWR', 2019)
m_dfg19 = fun_3(df_2, 'DFG', 2019)
print(m_total19, m_bc19, m_aiwr19, m_ipnp19, m_dfg19)

398 78 186 83 51

In [12]:
m_total20 = df_2['Year'].value_counts()[2020]
m_bc20 = fun_3(df_2, 'BC', 2020)
m_ipnp20 = fun_3(df_2, 'IPNP', 2020)
m_aiwr20 = fun_3(df_2, 'AIWR', 2020)
m_dfg20 = fun_3(df_2, 'DFG', 2020)
print(m_total20, m_bc20, m_aiwr20, m_ipnp20, m_dfg20)

387 75 175 82 55

In [13]:
import math
ms_bc21 = math.ceil(m_bc20 * m_bc20 / m_bc19)
ms_ipnp21 = math.ceil(m_ipnp20 * m_ipnp20 / m_ipnp19)
ms_aiwr21 = math.ceil(m_aiwr20 * m_aiwr20 / m_aiwr19)
ms_dfg21 = math.ceil(m_dfg20 * m_dfg20 / m_dfg19)
print(ms_bc21, ms_ipnp21, ms_aiwr21, ms_dfg21)

73 82 165 60

In [14]:
final_bc_inc = (ms_bc21 - m_bc20) + (mpd_bc)*5 + (mrd_bc)*3
final_bc_inc = final_bc_inc / 3
final_bc = math.ceil(m_bc20 + final_bc_inc)
print(final_bc)

71

In [15]:
final_ipnp_inc = (ms_ipnp21 - m_ipnp20) + (mpd_ipnp)*5 + (mrd_ipnp)*3
final_ipnp_inc = final_ipnp_inc / 3
final_ipnp = math.ceil(m_ipnp20 + final_ipnp_inc)
print(final_ipnp)

81

In [16]:
final_aiwr_inc = (ms_aiwr21 - m_aiwr20) + (mpd_aiwr)*5 + (mrd_aiwr)*3
final_aiwr_inc = final_aiwr_inc / 3
final_aiwr = math.ceil(m_aiwr20 + final_aiwr_inc)
print(final_aiwr)

174

In [18]:
final_dfg_inc = (ms_dfg21 - m_dfg20) + (mpd_dfg)*5 + (mrd_dfg)*3
final_dfg_inc = final_dfg_inc / 3
final_dfg = math.ceil(m_dfg20 + final_dfg_inc)
print(final_dfg)

58

In [19]:
data = {
    'Subjects': ['AIWR', 'IPNP', 'BC', 'DFG'],
    '2019' : [m_aiwr19, m_ipnp19, m_bc19, m_dfg19],
    '2020' : [m_aiwr20, m_ipnp20, m_bc20, m_dfg20],
    '2021 (Predicted)' : [final_aiwr, final_ipnp, final_bc, final_dfg],

}
final = pd.DataFrame(data)
final

  Subjects  2019  2020  2021 (Predicted)
0     AIWR   186   175               174
1     IPNP    83    82                81
2       BC    78    75                71
3      DFG    51    55                58

## Faculty Recommendation for a course

In [ ]:
df = pd.read_csv()-++++++++++++++