In [13]:
import random
import datetime

import pandas as pd

In [14]:
df = pd.read_csv('Performance.csv')

df

                SRN                    Full Name Course     Faculty
0     PES1UG20CS682                    Rohan T P   AIWR  Divyashree
1     PES1UG20CS690          Shivangouda I Patil   AIWR  Divyashree
2    PES1UG20CS330   REDDYGARI SURYA TEJA REDDY    AIWR  Divyashree
3    PES1UG20CS687                  Satvikkumar    AIWR  Divyashree
4     PES1UG21CS818           Manjula Kamannavar   AIWR  Divyashree
..              ...                          ...    ...         ...
780  PES1UG20CS707                    SUNIDHI N    IPNP     Surabhi
781   PES1UG20CS805                    Dhanush V   IPNP     Surabhi
782   PES1UG20EC200    SREERAMYA DHARANI PRAGADA   IPNP     Surabhi
783   PES1UG21CS813         Hathi Dev Rajeshbhai   IPNP     Surabhi
784   PES1UG21CS824        Neeraj Gopalakrishnan   IPNP     Surabhi

[785 rows x 4 columns]

In [15]:
bias_teacher = {}

bias_teacher['AIWRSurabhi'] = 2
bias_teacher['AIWRNage'] = 1
bias_teacher['AIWRBhaskar'] = 1

bias_teacher['BCShruthi'] = 1

bias_teacher['DFGBhaskar'] = -1
bias_teacher['DFGNage'] = 1

bias_teacher['IPNPVenkatesh'] = 2

In [16]:
bias_course = {}

bias_course['AIWR'] = 2
bias_course['BC'] = 2
bias_course['GP'] = -1

In [17]:
#random.randint(1,10)

In [18]:
for index, row in df.iterrows():
  #combo = (df['Course'],df['Faculty'])
    combo = str(df['Course'] + df['Faculty'])
    combo2 = str(df['Course'])

    rn = random.randint(25,100)
    bias = 0
    if combo in bias_teacher:
        bias = 3*bias_teacher[combo]

    if (rn + bias) in range(25, 101):
        rn = rn + bias
        
    if combo2 in  bias_course:
        bias = bias + 3*bias_course[combo2]
        
    if (rn + bias) in range(25, 101):
        rn = rn + bias
        
    

    df.loc[index,'Score'] = rn

In [19]:
df

                SRN                    Full Name Course     Faculty  Score
0     PES1UG20CS682                    Rohan T P   AIWR  Divyashree   95.0
1     PES1UG20CS690          Shivangouda I Patil   AIWR  Divyashree   81.0
2    PES1UG20CS330   REDDYGARI SURYA TEJA REDDY    AIWR  Divyashree   70.0
3    PES1UG20CS687                  Satvikkumar    AIWR  Divyashree   91.0
4     PES1UG21CS818           Manjula Kamannavar   AIWR  Divyashree   59.0
..              ...                          ...    ...         ...    ...
780  PES1UG20CS707                    SUNIDHI N    IPNP     Surabhi   59.0
781   PES1UG20CS805                    Dhanush V   IPNP     Surabhi   90.0
782   PES1UG20EC200    SREERAMYA DHARANI PRAGADA   IPNP     Surabhi   92.0
783   PES1UG21CS813         Hathi Dev Rajeshbhai   IPNP     Surabhi   63.0
784   PES1UG21CS824        Neeraj Gopalakrishnan   IPNP     Surabhi   72.0

[785 rows x 5 columns]

In [20]:
df.to_csv('DotSlash_Scores.csv',index=False)